<ul style="display: flex; gap: 10px; list-style: none;">
    <li>
        <a href="/movies">Listado de películas</a>
    </li>
    <li>
        <a href="/genres">Listado de géneros</a>
    </li>
    <li>
        <a href="/actors">Listado de actores</a>
    </li>
</ul>